/* sidebar backgroud */
.st-emotion-cache-6qob1r,#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4{
    background-color: #318CE7;
}

/* sidebar alignment */
.st-emotion-cache-ue6h4q {
    font-size: 14px;
    color: rgb(49, 51, 63);
    display: flex;
    visibility: visible;
    /* margin-bottom: 0.25rem; */
    height: auto;
    min-height: 0.8rem;
    vertical-align: middle;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.st-emotion-cache-16txtl3 {
    padding: 3rem 1.5rem;
}


/* sidebar logo */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1fjb3ft.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn4 > div:nth-child(1) > div > div > div > div > div > div > img{
    max-width: 100%;
    border-radius: 10px;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1fjb3ft.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div.st-emotion-cache-ocqkz7.e1f1d6gn4 > div:nth-child(2) > div > div > div > div > div > div > img{
    max-width: 100%;
    border-radius: 10px;
}

/* Sidebar clear button */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-1fjb3ft.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div:nth-child(9) > div > div > form > input[type=submit]{
    width: 200%;
    border-radius: 5px;
    padding: 7px;
    background-color: #32CD32;
    border: none;
}

/*Sidebar clear button new*/
#st-emotion-cache-5rimss e1nzilvr5{
    width: 400%;
    border-radius: 5px;
    padding: 7px;
    background-color: #32CD32;
    border: none;
}

/* Deepsphere logo alignment */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div:nth-child(3) > div:nth-child(1) > div > div > div > div > div > div > img{
    max-width: 45% !important;
    position: relative;
    left: 41%;
    top: -50%;
}

/* EDD logo alignment */
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div:nth-child(3) > div:nth-child(2) > div > div > div > div > div > div > img{
    max-width: 55% !important;
    position: relative;
    top: -48%;
    left: -10%;
}


/* Title */
#generative-ai-empowers-policy-analysis-for-employment-development{
    text-align: center;
    color: rgb(69, 69, 69);
    font-size: 25px;
    position: relative;
    /* top: -85px !important; */
}

/* Title */
#generative-ai-empowers-policy-analysis-for-retirement-system{
    text-align: center;
    color: rgb(69, 69, 69);
    font-size: 25px;
    position: relative;
    /*top: -100px !important;*/
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div > div > div:nth-child(4) > div > div > div:nth-child(1){
    height: 0px;
}

/* Chat button */

button.st-emotion-cache-91nhae.ef3psqc7{
    background: #3e40b7;
    color: white;
}

/* Chat button */
button.st-emotion-cache-7ym5gk ef3psqc7{
    background: #69D2E7;
    color: white
}

/* Form input */
.st-emotion-cache-r421ms {
    border: 1.5px solid black;
    border-radius: 0.5rem;
    padding: calc(1em - 1px);
}

/* Dialogflow */

/* postion the chat */
.bubble {
    padding: 0px;
    margin: -420px 271px 0px;
    width: var(--df-messenger-internal-chat-bubble-size);
    height: var(--df-messenger-internal-chat-bubble-size);
    border-radius: var(--df-messenger-chat-bubble-border-radius,var(--df-messenger-internal-chat-bubble-size-half));
    border: var(--df-messenger-chat-bubble-border,none);
    background: var(--df-messenger-chat-bubble-background,var(--df-messenger-chat-bubble-background-color,var(--df-messenger-primary-color,var(--df-messenger-default-primary-color))));
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}